div.slides {
	position: relative;
	width: 100%;
	height: 100%;
}

.slides > * {
	position: absolute;
	text-align: center;
}

.slides > img {
	display: block;
	text-align: initial;
	width: 100%;
	height: 100%;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}
