<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SnugglesStuff 2.0</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="build/css/main.css">
    <script src="build/js/home/script.min.js"></script>
  </head>
  <body>
    <ul>
      <% for (var i=1;i<=5;i++) { %>
        <li>
	  <a href='#page<%= i %>'>
	    Page <%= i %>
	  </a>
	</li>
      <% } %>
    </ul>
  </body>
</html>
